.image {background: url("./assets/smallVRELogo.png") no-repeat center center;
padding-left: 150px; 
margin-top: 1px;
border-color: transparent;
height: 65px !important;	
}

.btn-default:hover {
  color: transparent !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

