.abc{
    background: url("./assets/volunteer_rescue_association.jpg") no-repeat center center; 
   	height: 600px;
    background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

h3{
  text-align: left;
  color: blue;
  font-size: 25px;
}
